.feedback {
  background-image: url(/src/images/background-4.jpg);
  background-size: cover;
  background-position: center;
}
.feedback-img {
  border-radius: 24px;
  width: 1013px;
  height: 422px;
  position: absolute;
  margin: -93px 94px 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 704px;
    height: 327px;
    margin: -163px 32px 0;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    height: 130px;
    margin: -30px 18px 0;
  }
}
.client-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-bottom: 100px;
  padding-top: 457px;
  padding-bottom: 383px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 223px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 186px;
  }
}

.feedback-text {
  font-weight: 500;
  line-height: 1.87;
  border-radius: 24px;
  color: var(--light-text-color);
  background-color: var(--main-background);
  padding: 40px 74px;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-style: 14px;
    padding: 28px 80px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 34px 35px;
    line-height: 2.6;
  }
}
