.franchise-info {
  padding: 0 60px 32px;
  @media screen and (max-width: 767px) {
    padding: 0 28px 28px;
  }
}
.info-text {
  margin-bottom: 32px;
  line-height: 1.4;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.franchise-modal {
  height: 688px;
  @media screen and (max-width: 767px) {
    height: 674px;
  }
}
.modal-title {
  width: 322px;
  margin: 0 auto;
  margin-bottom: 24px;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 221px;
    font-size: 14px;
  }
}
.submit-btn {
  margin-top: 16px;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    font-weight: 600;
  }
}
