.locations {
  background-color: var(--main-background);
}
.locations-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 64px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    gap: 322px;
  }
}
.location-item {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: #fcfcfc;
  width: 368px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: -303px;
  font-weight: 500;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 40px 24px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    padding: 40px 20px;
    gap: 24px;
    font-size: 12px;
    line-height: 1.83;
  }
}

.location-item:first-child {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: -405px;
  }
}
.location-name {
  background-color: var(--accent-color);
  padding: 3px 9px;
  border-radius: 6px;
  width: fit-content;
}

.address {
  color: var(--text-accent-color);
  margin-top: 8px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 190px;
  }
}
.address:hover {
  text-decoration: underline;
}
.working-days {
  color: var(--dark-text-color);
  margin-bottom: 4px;
}
.working-hours {
  color: var(--disabled);
}
.open-hours {
  margin-bottom: 12px;
}
.dividing-line {
  border: 1px solid #e1e1e1;
  height: 0px;
  display: block;
}
.location-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  margin-bottom: -1px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;
  }
}
.location-btn button {
  font-weight: 600;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.28;
  transition: 0.3s;
  cursor: pointer;
}
.btn-link {
  border-style: none;
  padding: 12px 34px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  &:hover {
    background-color: var(--hover-btn);
  }
  &:focus {
    background-color: var(--hover-btn);
    color: var(--light-text-color);
    fill: var(--light-text-color);
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-right: 0;
  }
}

.franchise-btn {
  padding: 12px 46px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border: 2px solid var(--hover-btn);
  }
  &:focus {
    border: 2px solid var(--hover-btn);
    color: var(--light-text-color);
    fill: var(--light-text-color);
  }
}
// modal
.map-info {
  padding: 12px 60px 32px;
  text-align: center;
}
.map-info iframe {
  width: 448px;
  height: 260px;
  margin-bottom: 32px;
}
.map-link {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px 34px;
  color: var(--dark-text-color);
  background-color: var(--accent-color);
  border-width: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-btn);
  }
  &:focus {
    background-color: var(--hover-btn);
    color: var(--light-text-color);
    fill: var(--light-text-color);
  }
}
