#buy-modal {
  overflow: scroll;
}

.modal-list {
  display: flex;
  justify-content: center;
  margin: 105px 0 40px;
  gap: 32px;
  @media screen and(min-width: 320px) and (max-width: 767px) {
    flex-wrap: wrap;
    gap: 85px;
  }
}
.modal-link {
  border: 2px solid var(--main-background);
  border-radius: 10px;
}
.modal-link:nth-child(2) {
  background-color: var(--card-accent);
  border: 2px solid var(--card-accent);
}
.modal-link:last-child {
  border: 2px solid var(--text-accent-color);
}
.modal-eclipse {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-top: -60px;
  background-color: var(--main-background);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.modal-link:nth-child(2) .modal-eclipse {
  background-color: var(--card-accent);
}
.modal-link:last-child .modal-eclipse {
  background-color: var(--text-accent-color);
}
.modal-choice-img {
  width: 132px;
  height: 130px;
  border-radius: 50%;
  margin-top: -140px;
  @media screen and(min-width: 320px) and (max-width: 767px) {
    margin: -140px auto 0;
  }
}
.modal-choice-name {
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  @media screen and(min-width: 320px) and (max-width: 767px) {
    gap: 12px;
  }
}
.modal-form input,
.modal-form textarea {
  padding: 11px 0 11px 16px;
  font-size: 14px;
  width: 368px;
  border: 1px solid #84a178;
  border-radius: 10px;
  @media screen and(min-width: 320px) and (max-width: 767px) {
    width: 224px;
    padding: 7px 0 7px 12px;
    font-size: 12px;
  }
}
.modal-btn {
  font-family: 'Montserrat';
  padding: 12px 34px;
  background-color: var(--accent-color);
  border-radius: 10px;
  font-weight: 600;
  border-width: 0;
  margin-top: 34px;
  margin-bottom: 34px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--hover-btn);
  }
  &:focus {
    background-color: var(--hover-btn);
    color: var(--light-text-color);
    fill: var(--light-text-color);
  }
}
