html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
ul,
a {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin: 0;
  color: var(--dark-text-color);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.backdrop,
.read-backdrop,
.locations-backdrop,
.franchise-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility;
  background-color: rgba(47, 48, 58, 0.4);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal,
.read-backdrop.is-hidden .read-modal,
.locations-backdrop.is-hidden .locations-modal,
.franchise-backdrop.is-hidden .franchise-modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal,
.read-modal,
.locations-modal,
.franchise-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--light-text-color);
  width: 568px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 320px) and (max-width: 767px) {
    width: 280px;
    height: 100vh;
    // overflow: scroll;
    z-index: 1000;
  }
}
.modal-close-btn,
.read-more-close-btn,
.locations-close-btn,
.franchise-close-btn {
  border-width: 0;
  margin-left: auto;
  background-color: var(--light-text-color);
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    margin-top: 8px;
    margin-right: 8px;
    padding: 0;
  }
}
.modal-title {
  font-size: 20px;
  text-align: center;
  font-family: 'Seymour One';
}
.title {
  font-family: 'Seymour One';
  font-size: 20px;
  margin-bottom: 32px;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
