<div class="burger-menu open is-hidden">
    <div class="container">
        <div class="burger-head">
            <div class="logo">
                <svg class="logo-svg">
                    <use href="/src/symbol-defs.svg#icon-Ice-logo"></use>
                </svg>
                <span class="logo-letters">ce</span>
            </div>
            <button type="button" class="modal-close-btn burger-modal-close-btn">
                <svg class="" width="32" height="32">
                    <use href="./symbol-defs.svg#icon-modal-close"></use>
                </svg>
            </button>
        </div>
        <ul class="burger-list">
            <li class="burger-item">Home</li>
            <li class="burger-item"><a href="#section-3">How it’s made?</a></li>
            </li>
            <li class="burger-item">Our products</li>
            <li class="burger-item"><a href="#section-footer">Contact</a></li>
        </ul>
        <button class="buy-btn burger-buy-btn mobile-open-modal" type="button">Buy now
            <svg class="next-svg" width="24" height="24">
                <use href="./symbol-defs.svg#icon-ctrl">
                </use>
            </svg>
        </button>
    </div>
</div>