<section class="feedback">
    <div class="container">
        <img class="feedback-img" src="/src/images/brooke-lark-8beTH4VkhLI-unsplash 1x.jpg" alt="ice-cream and berries">
        <div class="client-feedback">
            <img src="/src/images/1.png" alt="client" width="85" height="85">
            <p class="feedback-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles!
                In addition, you have
                beautiful
                serving, cozy atmosphere and polite staff.
            </p>
            <p>Emily, Los Angeles</p>
        </div>
    </div>
</section>