<section class="feedback">
    <div class="container">
        <div class="feedback-slider swiper">

            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="slide-info">
                        <img class="feedback-img" src="/src/images/feedback/big-1-desk.jpg" alt="ice-cream and berries">
                        <div class="client-feedback">
                            <img src="/src/images/feedback/1.jpg" alt="client" width="85" height="85">
                            <p class="feedback-text">I love visiting your cafe. You prepare the most delicious ice cream
                                in Los
                                Angeles!
                                In addition, you have
                                beautiful
                                serving, cozy atmosphere and polite staff.
                            </p>
                            <p class="name-city">Emily, Los Angeles</p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide ">
                    <div class="slide-info">
                        <img class="feedback-img" src="/src/images/feedback/icecream3.jpg" alt="ice-cream and berries">
                        <div class="client-feedback">
                            <img src="/src/images/feedback/2.jpg" alt="client" width="85" height="85">
                            <p class="feedback-text">I love eating popsicles on a hot day. Yours is always delicious. I
                                recommend your cafe to everyone I know.

                            </p>
                            <p class="name-city">Sam, Los Angeles</p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide ">
                    <div class="slide-info">
                        <img class="feedback-img" src="/src/images/feedback/icecream.jpg" alt="ice-cream and berries">
                        <div class="client-feedback">
                            <img src="/src/images/feedback/3.jpg" alt="client" width="85" height="85">
                            <p class="feedback-text">Ice cream is my passion! I love your chocolate hazelnut ice cream!
                                And
                                I really like the excellent service - always
                                served politely and quickly!
                            </p>
                            <p class="name-city">Diana, Chicago</p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide ">
                    <div class="slide-info">
                        <img class="feedback-img" src="/src/images/feedback/icecream2.jpg" alt="ice-cream and berries">
                        <div class="client-feedback">
                            <img src="/src/images/feedback/4.jpg" alt="client" width="85" height="85">
                            <p class="feedback-text">Every day we come to you with friends after classes in college. We
                                love
                                your ice cream and casual atmosphere!
                            </p>
                            <p class="name-city">Bryan, New-York</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>