<footer class="footer">
    <div class="container">
        <div class="slogan">
            <p class="footer-slogan">homemade ice cream made </p>
            <p class="outlined-slogan">with passion</p>
        </div>
        <div class="footer-socials">
            <ul class="soc-list">
                <li class="soc-item">
                    <svg class="soc-svg" width="20" height="20">
                        <use href="/src/symbol-defs.svg#icon-git"></use>
                    </svg>
                </li>
                <li class="soc-item">
                    <svg class="soc-svg" width="20" height="20">
                        <use href="/src/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </li>
                <li class="soc-item">
                    <svg class="soc-svg" width="20" height="20">
                        <use href="/src/symbol-defs.svg#icon-fb"></use>
                    </svg>
                </li>
            </ul>
            <div class="footer-contact">
                <p class="feel-free">Feel free to contact <span class="footer-phone">+61 (0) 383 766 284</span></p>
            </div>
        </div>
    </div>
</footer>
<div class="rights-reserved">
    <span class="dividing-line bottom-line"></span>
    <p>© 2022 - IceCream. All Rights Reserved.</p>
</div>
</main>