<div class="franchise-backdrop is-hidden container">
    <div clas="franchise-modal">
        <button type="button" class="franchise-close-btn">
            <svg class="" width="20" height="20">
                <use href="./symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
        <div class="franchise-info">
            <h2 class="title">Thank you for your interest in owning an Ice Cream shop</h2>
            <p class="info-text">Due to the overwhelming volume of franchise requests we are not accepting new
                franchisee applications at
                this
                time. Once
                the application process resumes, we will contact you for further information. Please fill out the
                contact
                information
                below and we will reach out for additional information. We appreciate your patience.</p>
            <form class="modal-form">
                <label><input class="input-name" type="text" name="name" placeholder="Name"></label>
                <label><input class="input-phone" type="tel" name="phone" placeholder="Phone">
                </label>
                <label><input class="input-email" type="mail" name="mail" placeholder="Email">
                </label>
                <textarea class="input-textarea" name="comment" placeholder="Comment"></textarea>
                <button class="submit-btn modal-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>