<header class="header">
    <div class="container">
        <nav class="navigation">
            <div class="logo">
                <svg class="logo-svg">
                    <use href="/src/symbol-defs.svg#icon-Ice-logo"></use>
                </svg>
                <span class="logo-letters">ce</span>
            </div>
            <div>
                <ul class="menu">
                    <li class="menu-item"><a class="menu-link" href="">Home</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#section-3">How it’s made?</a></li>
                    <li class="menu-item"><a class="menu-link" href="">Our products</a></li>
                    <li class="menu-item"><a class="menu-link" href="#section-footer">Contact</a></li>
                </ul>
            </div>
            <button type="button" class="burger-btn" data-menu-open>
                <svg class="burger-svg" width="32" height="32">
                    <use href="./symbol-defs.svg#icon-Burger">
                    </use>
                </svg>
            </button>

            <div>
                <button class="buy-btn" type="button">Buy now
                    <svg class="next-svg" width="24" height="24">
                        <use href="./symbol-defs.svg#icon-ctrl">
                        </use>
                    </svg>
                </button>
            </div>
        </nav>
    </div>
</header>