<main>
  <section class="hero">
    <div class="container hero-section">
      <div>
        <div class="hero-info">
          <h1 class="hero-title">ice cream made with passion</h1>
        </div>
        <div class="hero-links">
          <a class="products-link" href="">Products</a>
          <a class="how-made-link" href="">How it’s made?</a>
        </div>
        <div class="hero-img-block">
          <img class="ice-plate" src="/src/images/ice-cream-balls-1x.png" alt="Ice-cream on plate">
          <div class="text-arrow">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor
              incididunt
              ut labore et</p>
            <svg class="arrow" height="20">
              <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="ice-hero">
        <img class="ice-hero-img" src="/src/images/мороженко 1.png" alt="ice-cream">
        <img class="smile-green" src="/src/images/smile-green.png">
        <img class="smile-pink" src="/src/images/smile-pink.png">
        <img class="smile-yellow" src="/src/images/smile-yellow.png">
      </div>
      <div class="hero-places">
        <p class="amount">16<span class="place">cafes</span></p>
        <p class="amount">23<span class="place">food trucks</span></p>
      </div>
    </div>
  </section>