<section class="how-made">
  <div class="container">
    <p class="hm-name"><a name="section-3">tradition and love</a></p>
    <h2 class="hm-title">how it’s made?</h2>
    <div class="hm-block">
      <div class="eclipse-cow">
        <div class="hm-eclipse"></div>
        <img class="hm-img" src="/src/images/cow-1x.jpg" alt="cow" width="490" height="490">
      </div>
      <div class="hm-text-container">
        <p class="hm-text">Ice is a place where you will become not only a little happier, but also healthier.
          Health
          is the main
          value
          for us, and
          we follow it when creating our handmade desserts.</p>
        <p class="hm-text">We use traditional recipes and 100% natural ingredients.
          Our products are so natural that they can be given to children
          from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and
          23
          milkshakes.</p>
        <p class="hm-text hm-text-hidden">This is enough to choose ice cream and coffee for any mood!</p>
        <button class="read-more-btn" type="button">Read more
          <svg class="next-svg" width="24" height="24">
            <use href="./symbol-defs.svg#icon-ctrl">
            </use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hm-statistics">
      <div class="hm-stat-item">
        <div class="back-svg">
          <svg class="stats-svg" width="36" height="36">
            <use href="/src/symbol-defs.svg#icon-cow"></use>
          </svg>
        </div>
        <p class="stats-amount">721</p>
        <p class="stats-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      <div class="hm-stat-item">
        <div class="back-svg">
          <svg class="stats-svg" width="36" height="36">
            <use href="/src/symbol-defs.svg#icon-weight"></use>
          </svg>
        </div>
        <p class="stats-amount">16 kg</p>
        <p class="stats-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      <div class="hm-stat-item">
        <div class="back-svg"><svg class="stats-svg" width="36" height="36">
            <use href="/src/symbol-defs.svg#icon-ice-crema"></use>
          </svg></div>
        <p class="stats-amount">84</p>
        <p class="stats-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
    </div>
    <!-- /////////////////modal form//////////////////// -->
    <!-- <div class="backdrop  is-hidden container">
      <div class="modal read-more-modal">
        <button type="button" class="modal-close-btn read-more-close-btn">
          <svg class="" width="20" height="20">
            <use href="./symbol-defs.svg#icon-modal-close"></use>
          </svg>
        </button>
        <div class="video-info">
          <h2 class="title">How it's made?</h2>
          <iframe class="video" width="448" height="205" src="https://www.youtube.com/embed/QhLMlA3Wb8w"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            Lorem
            ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
    </div> -->
  </div>
</section>