<section class="locations">
    <div class="container">
        <ul class="locations-list">
            <li class="location-item">
                <h3 class="location-name"><a name="section-footer">CAFE</a></h3>
                <div class="location">
                    <p class="city">Chicago</p>
                    <p class="address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                </div>
                <span class="dividing-line"></span>
                <div class="schedule">
                    <p class="working-days">Monday - Friday</p>
                    <p class="working-hours open-hours">06:00 AM - 10:00 PM</p>
                    <p class="working-days">Saturday - Sunday</p>
                    <p class="working-hours">08:00 AM - 16:00 PM</p>
                </div>
                <span class="dividing-line"></span>
                <div class="cafe-contacts">
                    <p class="cafe-phone">+61(0) 383 766 284</p>
                    <p class="cafe=email">noreply@envato.com</p>
                </div>
            </li>
            <li class="location-item">
                <h3 class="location-name">FOOD TRUCK</h3>
                <div class="location">
                    <p class="city">Los Angeles</p>
                    <p class="address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
                </div>
                <span class="dividing-line"></span>
                <div class="schedule">
                    <p class="working-days">Monday - Friday</p>
                    <p class="working-hours open-hours">06:00 AM - 10:00 PM</p>
                    <p class="working-days">Saturday - Sunday</p>
                    <p class="working-hours">08:00 AM - 16:00 PM</p>
                </div>
                <span class="dividing-line"></span>
                <div class="cafe-contacts">
                    <p class="cafe-phone">+61(0) 383 766 284</p>
                    <p class="cafe=email">noreply@envato.com</p>
                </div>
            </li>
            <li class="location-item">
                <h3 class="location-name">CAFE</h3>
                <div class="location">
                    <p class="city">New York</p>
                    <p class="address">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
                </div>
                <span class="dividing-line"></span>
                <div class="schedule">
                    <p class="working-days">Monday - Friday</p>
                    <p class="working-hours open-hours">06:00 AM - 10:00 PM</p>
                    <p class="working-days">Saturday - Sunday</p>
                    <p class="working-hours">08:00 AM - 16:00 PM</p>
                </div>
                <span class="dividing-line"></span>
                <div class="cafe-contacts">
                    <p class="cafe-phone">+61(0) 383 766 284</p>
                    <p class="cafe=email">noreply@envato.com</p>
                </div>
            </li>
        </ul>
        <div class="location-btn">
            <button class="btn-link" type="button">Our Locations
                <svg class="next-svg" width="24" height="24">
                    <use href="./symbol-defs.svg#icon-ctrl">
                    </use>
                </svg>
            </button>
            <button class="franchise-btn" type="button">Franchise
                <svg class="next-svg" width="24" height="24">
                    <use href="./symbol-defs.svg#icon-ctrl">
                    </use>
                </svg>
            </button>
        </div>
        <!-- modal ///////////////// -->
        <div class="locations-backdrop">
            <div class="container">
                <div id="modal-location" class="locations-modal">
                    <button type="button" class="locations-close-btn">
                        <svg width="20" height="20">
                            <use href="./symbol-defs.svg#icon-modal-close"></use>
                        </svg>
                    </button>
                    <div class="map-info">
                        <h2 class="title">Our Locations</h2>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d625497.6727031028!2d7.548665541970225!3d46.57600535727077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e45779a754225%3A0x846f102ae9062816!2z0JfQsNC_0L7QstC10LTQvdC40Log0JPQsNC90YLRgNC40Yg!5e0!3m2!1sru!2sua!4v1689344698442!5m2!1sru!2sua"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <a class="map-link" target="_blank" href="https://goo.gl/maps/Bi83gsM945RS91X77">Open
                            map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>