<div class="backdrop is-hidden container">
    <div id="buy-modal" class="modal">
        <button type="button" class="modal-close-btn">
            <svg class="" width="20" height="20">
                <use href="./symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
        <h2 class="modal-title">Buy now</h2>
        <ul class="modal-list">
            <li class="modal-link">
                <div class="modal-eclipse"></div>
                <img class="modal-choice-img" src="/src/images/1-1x.jpg" alt="ice-cream in waffles">
                <h3 class="modal-choice-name">ice cream</h3>
            </li>
            <li class="modal-link">
                <div class="modal-eclipse"></div>
                <img class="modal-choice-img " src="/src/images/2-1x.jpg" alt="coffee with ice-cream">
                <h3 class="modal-choice-name">ice coffee</h3>
            </li>
            <li class="modal-link">
                <div class="modal-eclipse"></div>
                <img class="modal-choice-img" src="/src/images/3-1x.jpg" alt="milkshake with ice-cream">
                <h3 class="modal-choice-name">milkshakes</h3>
            </li>
        </ul>
        <form class="modal-form">
            <label><input class="input-name" type="text" name="name" placeholder="Name"></label>
            <label><input class="input-phone" type="tel" name="phone" placeholder="Phone">
            </label>
            <textarea class="input-textarea" name="comment" placeholder="Comment"></textarea>
            <button class="modal-btn" type="submit">Submit</button>
        </form>

    </div>
</div>