<section class="products">
  <div class="container">
    <h2 class="products-title">100% natural <span class="title-part">products</span></h2>
    <ul class="choice-list">
      <li class="choice-item">
        <div class="front-side">
          <div class="eclipse"></div>
          <img class="choice-img" src="/src/images/1-1x.jpg" alt="ice-cream in waffles">
          <h3 class="choice-name">ice cream</h3>
          <p class="choice-descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer</p>
          <svg class="arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
        <!-- ////////////////////////// -->
        <div class="back-side">
          <div class="eclipse back-eclipse"></div>
          <img class="choice-img back-choice-img" src="/src/images/1-1x.jpg" alt="ice-cream in waffles">
          <h3 class="choice-name">ice cream</h3>
          <ul class="doze-list">
            <li class="doze">
              <p class="doze-number">320</p>
              <p>kcal</p>
            </li>
            <li class="doze">
              <p class="doze-number">4g</p>
              <p>Protein</p>
            </li>
            <li class="doze">
              <p class="doze-number">8,2g</p>
              <p>Fats</p>
            </li>
            <li class="doze">
              <p class="doze-number">40,4g</p>
              <p>Carbs</p>
            </li>
          </ul>
          <h3>Ingredients</h3>
          <ul class="ingr-list">
            <li class="ingredient">
              <p class="name">Milk</p>
              <p class="ingr-amount">100ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Belgian chocolate</p>
              <p class="ingr-amount">20g</p>
            </li>
            <li class="ingredient">
              <p class="name">Cream</p>
              <p class="ingr-amount">150ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Cocoa powder</p>
              <p class="ingr-amount">30g</p>
            </li>
            <li class="ingredient">
              <p class="name">Sugar</p>
              <p class="ingr-amount">40g</p>
            </li>
            <li class="ingredient">
              <p class="name">Vanilla sugar</p>
              <p class="ingr-amount">10g</p>
            </li>
          </ul>
          <svg class="back-arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
      </li>
      <li class="choice-item">
        <div class="front-side">
          <div class="eclipse"></div>
          <img class="choice-img " src="/src/images/2-1x.jpg" alt="coffee with ice-cream">
          <h3 class="choice-name">ice coffee</h3>
          <p class="choice-descr">Fragrant invigorating drink created from 100% natural ingredients without the
            use of
            preservatives and flavor enhancers</p>
          <svg class="arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
        <div class="back-side">
          <div class="eclipse back-eclipse"></div>
          <img class="choice-img back-choice-img" src="/src/images/2-1x.jpg" alt="coffee with ice-cream">
          <h3 class="choice-name">ice cream</h3>
          <ul class="doze-list">
            <li class="doze">
              <p class="doze-number">295</p>
              <p>kcal</p>
            </li>
            <li class="doze">
              <p class="doze-number">6g</p>
              <p>Protein</p>
            </li>
            <li class="doze">
              <p class="doze-number">5,4g</p>
              <p>Fats</p>
            </li>
            <li class="doze">
              <p class="doze-number">33,7g</p>
              <p>Carbs</p>
            </li>
          </ul>
          <h3>Ingredients</h3>
          <ul class="ingr-list">
            <li class="ingredient">
              <p class="name">Milk</p>
              <p class="ingr-amount">100ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Belgian chocolate</p>
              <p class="ingr-amount">20g</p>
            </li>
            <li class="ingredient">
              <p class="name">Cream</p>
              <p class="ingr-amount">150ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Cocoa powder</p>
              <p class="ingr-amount">30g</p>
            </li>
            <li class="ingredient">
              <p class="name">Sugar</p>
              <p class="ingr-amount">40g</p>
            </li>
            <li class="ingredient">
              <p class="name">Vanilla sugar</p>
              <p class="ingr-amount">10g</p>
            </li>
          </ul>
          <svg class="back-arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
      </li>
      <li class="choice-item">
        <div class="front-side">
          <div class="eclipse"></div>
          <img class="choice-img " src="/src/images/3-1x.jpg" alt="milkshake with ice-cream">
          <h3 class="choice-name">milkshakes</h3>
          <p class="choice-descr">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
            berries
            and other sweets of your choice</p>
          <svg class="arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
        <div class="back-side">
          <div class="eclipse back-eclipse"></div>
          <img class="choice-img back-choice-img" src="/src/images/3-1x.jpg" alt="milkshake with ice-cream">
          <h3 class="choice-name">ice cream</h3>
          <ul class="doze-list">
            <li class="doze">
              <p class="doze-number">280</p>
              <p>kcal</p>
            </li>
            <li class="doze">
              <p class="doze-number">3g</p>
              <p>Protein</p>
            </li>
            <li class="doze">
              <p class="doze-number">7,6g</p>
              <p>Fats</p>
            </li>
            <li class="doze">
              <p class="doze-number">44,8g</p>
              <p>Carbs</p>
            </li>
          </ul>
          <h3>Ingredients</h3>
          <ul class="ingr-list">
            <li class="ingredient">
              <p class="name">Milk</p>
              <p class="ingr-amount">100ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Belgian chocolate</p>
              <p class="ingr-amount">20g</p>
            </li>
            <li class="ingredient">
              <p class="name">Cream</p>
              <p class="ingr-amount">150ml</p>
            </li>
            <li class="ingredient">
              <p class="name">Cocoa powder</p>
              <p class="ingr-amount">30g</p>
            </li>
            <li class="ingredient">
              <p class="name">Sugar</p>
              <p class="ingr-amount">40g</p>
            </li>
            <li class="ingredient">
              <p class="name">Vanilla sugar</p>
              <p class="ingr-amount">10g</p>
            </li>
          </ul>
          <svg class="back-arrow-card" height="20">
            <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>