<section class="products">
  <div class="container">
    <h2 class="products-title">100% natural <span class="title-part">products</span></h2>
    <ul class="choice-list">
      <li class="choice-item">
        <div class="eclipse"></div>
        <img class="choice-img" src="/src/images/1-1x.jpg" alt="ice-cream in waffles">
        <h3 class="choice-name">ice cream</h3>
        <p class="choice-descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
          stabilizer</p>
        <svg class="arrow-card" height="20">
          <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
      </li>
      <li class="choice-item">
        <div class="eclipse"></div>
        <img class="choice-img" src="/src/images/2-1x.jpg" alt="coffee with ice-cream">
        <h3 class="choice-name">ice coffee</h3>
        <p class="choice-descr">Fragrant invigorating drink created from 100% natural ingredients without the
          use of
          preservatives and flavor enhancers</p>
        <svg class="arrow-card" height="20">
          <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
      </li>
      <li class="choice-item">
        <div class="eclipse"></div>
        <img class="choice-img" src="/src/images/3-1x.jpg" alt="milkshake with ice-cream">
        <h3 class="choice-name">milkshakes</h3>
        <p class="choice-descr">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
          berries
          and other sweets of your choice</p>
        <svg class="arrow-card" height="20">
          <use href="/src/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>