<div class="read-backdrop is-hidden container">
    <div id="read" class="read-modal">
        <button type="button" class="read-more-close-btn">
            <svg class="" width="20" height="20">
                <use href="./symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
        <div class="video-info">
            <h2 class="title">How it's made?</h2>
            <iframe class="video" width="448" height="205" src="https://www.youtube.com/embed/QhLMlA3Wb8w"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                Lorem
                ipsum dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
    </div>
</div>